* {
    margin:0;
    padding:0;
  }
  body {
    
    font-family: 'Raleway', sans-serif;
  }
  h1{
    text-align: center;
  }
  h4{
    margin-top: 74px;
    margin-left: 343px;
    text-decoration: solid;
  }
  p{
    text-align: center;
    margin-top: 12px;
  }
  .link{
    margin-top: 12px ;
    margin-left: 108px;
    text-decoration: underline;
  }
  h2{
    margin-top: 20px;
    margin-left: 620px;
  }
  .numbers{
    text-decoration: double;
   

  }
  #ul{
    margin-top: 12px;
    margin-left: 620px;

  }
  #li{
    margin-top: -19px;
    margin-left: 656px;
  }
  #is{
    margin-top: -21px;
    margin-left:692px;
  }
  #zero{
    margin-top: 12px;
    margin-left: 620px;
  }
  #one{
    margin-top: -19px;
    margin-left: 656px;
  }
  #two{
    margin-top: -21px;
    margin-left:692px;
  }
  #zero > button{
   background-color: olive;
    border-radius: 5px;
    width: 29px;
  }
  #one button{
    background-color: orangered;
    width: 29px;
    border-radius: 5px;
  }
  #two button{
    background-color: cornflowerblue;
    width: 29px;
    border-radius: 5px;
  }

  .ul{
    margin-top: 12px;
    margin-left: 826px;
  }
  .li{
    margin-top: -19px;
    margin-left: 870px;
  }
  .is{
    margin-top: -21px;
    margin-left:633px;
  }
  .ul > button{
    background-color: red;
    border-radius: 5px;
    width: 29px;
  }
  .li button{
    background-color: #0088ff;
    width: 29px;
    border-radius: 5px;
  }
  .is button{
    background-color: forestgreen;
    width: 95px;
    border-radius: 5px;
  }
  #ul > button{
    background-color: red;
    border-radius: 5px;
    width: 29px;
  }
  #li button{
    background-color: #0088ff;
    width: 29px;
    border-radius: 5px;
  }
  #is button{
    background-color: forestgreen;
    width: 95px;
    border-radius: 5px;
  }
  #container {
    position:relative;
    width:80%;
    margin:5% auto;
    background-color:black;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
  }
  #container > nav {
    width:100%;
    display:flex;
    max-height:60px;
    margin-top:-67px;
  }
  #logo {
    line-height:60px;
    font-size:30px;
    padding: 0 50px;
    color: white;
    width:40%;
    letter-spacing:2px;
    text-shadow:2px 2px 5px;
  }
  #container > nav > ul {
    margin:0;
    padding:0;
    list-style-type:none;
    display:flex;
    position:absolute;
      right:50px;
  /*   min-width:60%; */
  }
  #container > nav > ul > li {
    line-height:60px;
    margin: 0 0px;
    padding:0;
    text-align:center;
    display:inline-block;
    
  /*   background-color:green; */
    min-width:120px;
  
  } 
  #container > nav > ul > li > a {
    position:relative;
  /*   background-color:red; */
    margin: 0 20px;
      color:white;
  }
  #container > nav > ul > li:hover {
    border-bottom: 2px solid white;
    background-color: #0088ff;
  }
  #container > nav > ul > .dropdown:hover {
    border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover >  .dd
  {
    display:block;
  }
  .dropdown:hover > a .fa-caret-down {
    display:none;
  }
  a {
    text-decoration:none;
  
  }
  
  #container > nav > ul > li > div {
    position:absolute;
    padding: 0 10px;
    
    background-color:black;
    display:none;
    background-color:aliceblue;
    min-width:100px;
  }
  
  #container > nav > ul > li > div > ul {
    margin:0px 0 10px 0;
    padding:0;
    list-style:none;
  }
  #u_a_c {
    position:relative;
    width:100%;
  /*   background-color:red; */
  }
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:aliceblue;
    transform:rotate(45deg);
  }
  #container > nav > ul > li> div > ul > li:hover {
    background-color:rgba(0,0,0,0.2);
  }
  #container > nav > ul > li > div > ul > li > a {
    padding : 5px;
      color:black;
  }
  .box1{
    width: 153px;
    height: 51px;
    background-color:blue;
    margin-top: 18px;
  
}
.box2{
    width: 153px;
    height:51px;
    background-color: green;
    margin-top: 18px;
}
.box3{
    width: 153px;
    height: 51px;
    background-color: blueviolet;
    margin-top: 18px;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   gap: 15px;
   
}
#Zero p{
    margin-left: -338px;
}
#One p{
    margin-top:-18px;
}
#Two p{
    margin-top: -18px;
    margin-left: 345px;
}